<div class="function-editor-block">
  <div class="function-editor-block-wrapper">
    <div>
      <button>
        <img src="./assets/img/icons/go-back-arrow.png" alt="back">
      </button>
    </div>
    <div>
      <button>
        <img src="./assets/img/icons/next.png" alt="next">
      </button>
    </div>
    <div class="function-editor-block__text-formatting-block">
      <button>
        <img src="./assets/img/icons/text-formatting.png" alt="text-edit">
      </button>
      <div class="text-formatting-items">
        <h2>Test1</h2>
      </div>
    </div>
    <div class="function-editor-block__img-formatting-block">
      <button>
        <img src="./assets/img/icons/img.png" alt="img">
      </button>
      <div class="img-formatting-items">
        <h2>Test2</h2>
      </div>
    </div>
    <div class="function-editor-block__paint-block">
      <button>
        <img class="paint-img" src="./assets/img/icons/edit-text.png" alt="paint-modal">
      </button>
      <div class="paint-items">
        <h2>Test3</h2>
      </div>
    </div>
    <div>
      <button>
        <img src="./assets/img/icons/resize.png" alt="resize">
      </button>
    </div>
    <div>
      <button>
        <img src="./assets/img/icons/minimize.png" alt="minimize">
      </button>
    </div>
    <div>
      <button>
        <img src="./assets/img/icons/diskette.png" alt="save">
      </button>
    </div>
  </div>
</div>

<!--<button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item (click)="openDialog()">Open dialog</button>-->
<!--</mat-menu>-->
