<app-header></app-header>

<main>
  <div class="functions-editor-block">
    <app-editor-functions></app-editor-functions>
  </div>
  <div class="view-page-block">
    <div class="view-page-block__document">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet aut delectus dolorum labore,
        laboriosam, magni minima molestiae molestias nemo quaerat quas, similique velit voluptatibus. A accusamus
        assumenda at cumque eos excepturi explicabo reiciendis reprehenderit sequi voluptatibus. A autem consectetur
        consequuntur culpa dolor dolorum earum, eius enim eum exercitationem facere impedit maxime nam natus pariatur
        perspiciatis quasi quisquam ratione rem rerum suscipit tempora tenetur voluptatum. Alias aliquid, amet aut
        commodi cumque ducimus expedita facere impedit maxime, minima nihil, odio perferendis quam quas ratione rerum
        sequi sit totam vel voluptate. Accusamus accusantium aliquid amet aspernatur, aut commodi cupiditate doloremque
        dolorum earum eius eveniet explicabo fuga fugiat id inventore ipsa ipsam iste laboriosam laudantium minima
        molestiae mollitia natus nihil pariatur quae qui quod, rem repellendus sunt ut velit vero voluptas voluptatum!
        Animi autem exercitationem, fugiat minus omnis quidem reiciendis rem sequi. A ab architecto cupiditate, deleniti
        eaque eius est inventore libero minima minus, molestiae neque optio possimus quasi quo sequi soluta suscipit ut
        vero voluptates. A, asperiores cumque, dolorem enim et fugit ipsa minus nihil perspiciatis possimus quidem quos
        ullam unde velit veniam? Accusantium aliquam architecto autem consequuntur dicta distinctio dolor dolore
        doloremque esse et illo incidunt inventore iusto minus natus necessitatibus nisi perferendis placeat possimus
        quo unde vel veniam voluptates voluptatibus, voluptatum! Aliquam, aperiam aspernatur beatae culpa deleniti
        doloremque doloribus enim fugiat laudantium maxime, qui sapiente tempore ullam. Accusamus culpa deserunt dolores
        enim ipsum iusto nulla possimus quas, ratione rem vel velit, vitae. Asperiores assumenda commodi nam
        perspiciatis similique sunt unde. Accusamus earum laboriosam molestiae possimus sequi tempora tenetur!
        Accusantium at cupiditate deserunt distinctio dolor doloremque dolores dolorum ducimus eius eligendi eos, esse
        eum exercitationem expedita fuga in ipsam iure laboriosam mollitia neque nostrum obcaecati perspiciatis placeat,
        praesentium quia quidem quo ratione sapiente temporibus, tenetur ut vel voluptatem voluptatum! Aperiam deleniti
        excepturi facilis inventore magni provident veritatis voluptatum? Accusamus amet, architecto cupiditate dicta,
        dolor id impedit ipsa itaque laudantium quibusdam rerum sequi tenetur unde! Ab architecto consequuntur, deleniti
        dignissimos facere illum in molestiae nam nemo perferendis quos repellat suscipit, voluptatem. Accusantium ad,
        animi autem corporis cumque dolor doloribus eius et exercitationem expedita id impedit iure labore nemo nihil
        non odit praesentium quas quo recusandae repudiandae soluta vel? Consequuntur ea facere, id in ipsa laboriosam
        minus nobis sed. Aperiam deleniti dicta eligendi est inventore mollitia natus provident quasi qui rerum? Error
        inventore nostrum optio porro ratione repellat sunt tempora. Accusamus inventore quas quo soluta! Aut blanditiis
        debitis obcaecati rem repellendus. A aliquid amet aut autem cupiditate debitis deleniti dolor dolore error esse
        excepturi exercitationem facere facilis illum in incidunt ipsam labore laudantium libero maiores minima nam
        natus, necessitatibus nemo nulla pariatur porro possimus quo ratione reiciendis repellat rerum sapiente sequi
        sint tempora vero voluptatum? Ad alias cumque deserunt ducimus exercitationem illo ipsam, laudantium molestias
        nostrum numquam, rerum sapiente sequi sunt suscipit veritatis voluptate voluptatibus? Adipisci blanditiis cum
        deleniti distinctio explicabo modi nostrum numquam quaerat quo temporibus? Animi debitis doloremque ea incidunt,
        laborum magnam minus non quam voluptas voluptatum. Alias animi ducimus eum in ipsum laboriosam, nam nihil
        pariatur quaerat, qui reiciendis tenetur veniam voluptas? Consectetur dolorem dolores eaque est facilis illum
        minus, nesciunt quis quo tenetur? A ad architecto atque beatae consequatur corporis deleniti deserunt dicta
        dolor dolore doloremque ea earum et, eum exercitationem explicabo facilis fugit, illum impedit inventore libero
        magnam maiores neque nesciunt nulla odit qui quibusdam quos reiciendis repellendus rerum sapiente soluta
        suscipit vel vero vitae voluptas? Amet at aut cum eveniet expedita inventore minima, obcaecati quasi qui, quis
        quisquam totam. Dolorem enim est harum magni nostrum nulla qui quis rem repellat! Adipisci beatae dolores fugiat
        hic illum minus, natus nesciunt non quam quia. A, accusamus adipisci amet aspernatur at autem beatae consectetur
        consequatur corporis deleniti dolores error explicabo in iste iure laborum libero molestias nobis obcaecati
        praesentium, quaerat quam quas quasi quo reiciendis rerum sapiente soluta sunt suscipit tenetur unde ut veniam
        vero. Aperiam deleniti exercitationem harum hic, omnis optio quas similique veritatis! A cum eius et, facere
        facilis harum ipsum, itaque iusto labore molestias non omnis ratione recusandae rerum similique, suscipit
        tempore. Deleniti deserunt dolorem doloremque earum eius enim maxime minima nulla, odit perferendis quaerat, qui
        quia quisquam rerum sequi ullam voluptatibus. Commodi exercitationem minus quasi vitae voluptate? Debitis eum
        expedita minima nisi nostrum nulla omnis quae similique ut? Ad at dolorem doloribus ducimus earum eos eum
        expedita harum non perferendis quis repudiandae, similique tempore tenetur vero. Accusantium, aliquam, aliquid,
        aspernatur deleniti ex fuga magnam minus mollitia officia provident sapiente vel. Aperiam consectetur
        consequatur deleniti eveniet libero quibusdam quos recusandae sed temporibus. Aliquam aperiam blanditiis
        cupiditate doloremque dolorum et eum facilis, maxime mollitia nesciunt nobis non quod rerum? Ad aperiam
        consectetur culpa cupiditate dolore ex rem tempora? A consequatur consequuntur deserunt dolorum, eius et
        exercitationem facere facilis hic id ipsum libero nam nobis omnis possimus praesentium quam quidem quis quisquam
        voluptatibus. Amet aut cupiditate eveniet excepturi expedita incidunt inventore ipsa ipsam iusto magnam magni
        maiores natus obcaecati officiis, provident qui sint tempora tempore ut velit vitae voluptas voluptate. Alias
        animi consectetur dicta dolore eligendi laboriosam odio perferendis! Consequatur est fugit laborum recusandae
        vitae. Amet, distinctio dolor? A alias blanditiis cum, debitis dolore dolores esse est hic ipsa ipsam iusto
        maxime necessitatibus porro provident recusandae rerum vel? Accusamus atque commodi eaque excepturi ipsam, nam
        optio quas quidem ratione, repellendus saepe tempore velit voluptate voluptatem, voluptates. Architecto culpa
        cumque distinctio, doloribus facilis ipsum iure laboriosam modi mollitia officiis omnis quidem, similique vero
        voluptate voluptatum! Enim, fugiat quas. Aliquid atque distinctio eaque ipsam laboriosam nostrum obcaecati
        placeat quam quisquam similique tempore temporibus unde, vitae. Aspernatur commodi consequuntur corporis
        deserunt dolor eveniet expedita explicabo harum illo inventore laboriosam laudantium necessitatibus quae quidem
        ratione, rerum unde vel veniam! Accusantium adipisci alias, aliquid atque commodi culpa, cum deserunt distinctio
        dolore dolorem dolores eos error eveniet hic ipsa ipsum necessitatibus nisi nostrum nulla officiis pariatur
        provident quasi quis quisquam quo quod reiciendis sed similique ut vitae? Aliquam amet aperiam aut dolores
        dolorum ipsa iusto magni minus nulla officia officiis, suscipit vel vero vitae?</p>
    </div>
  </div>
  <div class="small-view-pages-block">
    <p>
      Page <span>3</span> of <span>4</span>
    </p>
    <div class="small-view-pages-block__pages">
      <p *ngFor="let page of pages">#{{page}}</p>
    </div>
  </div>
</main>
