/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
body {
  background: #122f48;
}
body, h1, h2, h3, h4, h5, h6, div, header, section, nav, p, span, button, a {
  display: block;
  margin: 0;
  padding: 0;
}

button, a {
  background: none;
  border: none;
  text-decoration: none;
}
